header.header {
  border-top: 5px solid $purple;
  position: fixed;
  width: 100%;
  z-index: 5000;
  background-color: white;
}

.top-nav {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5000;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  background-color: white;
}

.top-nav.active {
  padding: 10px 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -ms-transition:    all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
}

.top-nav-outer {
  position: relative;
  height: 165px;
  // background-color: red;
}

.menu-btn {
  // height: 70px;
  width: auto;
  z-index: 999;
  font-size: 32px;
  left: 4%;
  position: relative;
  // border: 5px solid yellow;
}

a.btn-open {
  text-decoration: none;
}

.logos {
  // border: 1px solid pink;
  width: 600px;
}

.social {
  // height: 70px;
  // width: 150px;
  z-index: 999;
  font-size: 32px;
  position: relative;
  right: 4%;
  // border: 5px solid green;
}

.main-logo {
  width: 250px;
  margin-bottom: 15px;
}

.main-logo.active {
  width: 120px;
  margin-bottom:0px;
  -ms-transition:    all 0.3s ease-out;
-moz-transition:    all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition:      all 0.3s ease-out;
transition:         all 0.3s ease-out;
}



a.secondary-logo {
  width: 150px;
  // border: 1px solid green;
  // margin: 0 30px;
  padding: 0px 10px;
}

.secondary-logo-img {
  width: 160px;
  // border: 1px solid red;
}

.secondary-logos {
  // border: 1px solid purple;
}

//MENU

.social a,
a.btn-close,
a.secondary-logo,
.secondary-logos a {
  text-decoration: none;
}

a.menu-btn {
  display: inline-block;
  text-decoration: none;

  /* safari hack */
}

.btn-open::after {
  color: black;
  content: "\f32a";
  font-family: "Ionicons", sans-serif;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition-property: all 0.2s linear 0s;
}

.btn-open:hover::after {
  color: black;
}

//CLOSE
.btn-close::after {
  color: black;
  content: "\f2c0";
  font-family: "Ionicons", sans-serif;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition-property: all 0.2s linear 0s;
}

.btn-close:hover::after {
  color: black;
}

/* OVERLAY */
.overlay {
  position: fixed;
  margin: 0 auto;
  // top: 200;
  z-index: 1000;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: red;
}

.overlay .menu {
  margin: 2% auto;
  width: 90%;
  // border: 1px solid black;
}


.overlay .menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.overlay .menu ul li {
  float: left;
  padding: 2px 0;
  width: 18%;
  list-style: none;
  text-align: left;
  text-transform: uppercase;
}

.mobile-only {
  display: none;
}

.overlay .menu ul li a {
  color: $purple;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  font-family: $font-family-sans-serif;
}

.full-screen {
  display: block;
}

.overlay .menu ul ul {
  margin-top: 50px;
}

.overlay .menu ul ul li {
  position: relative;
  float: none;
  margin: 0;
  width: 100%;
  border: 0;
}

.overlay .menu ul ul li a {
  color: $black;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}

.overlay .menu ul ul li a:hover {
  color: $purple;
}

.main {
  width: 100%;
  position: relative;
  // top: 165px;
  z-index: 500;
}

.content, .wrap {
  z-index: 5;
}
