@media screen and (max-width: 768px) {

  /* MOBILE NAV */

  header.header {
    border-top: 5px solid $purple;
  }

  .top-nav {
    width: 92%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .secondary-logo {
    display: none;
  }

  .full-screen {
    display: none;;
  }

  .main-logo {
    width: 120px;
    margin-bottom: 0px;
  }

  .social {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .logos {
    // border: 5px solid pink;
    width: 150px;
    width: 0 auto;
  }

  .overlay .menu {
    width: 100%;
  }

  .overlay .menu ul li {
    float: none;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    border-top: 1px solid $lightgrey;
  }

  .overlay .menu ul li:last-child {
    border-bottom: 1px solid $lightgrey;
  }

  #menu-popout-menu-1 > li.menu-donate > ul > li {
    border-bottom:  none;
  }

  .overlay .menu ul li {
    margin-bottom: 0px;
    // background-color: red;
    display: block;
    transition-duration: 0.5s;
  }

  .overlay .menu ul ul {
    margin-top: 20px;
    // background-color: blue;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  .menu-btn {
    height: auto;
  }

  .search-mobile {
    // width: 50px;
    height: auto;
  }

}
