//HIGHLIGHT TO TWEET STYLING
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.tweet {
    padding: 7px 35px 7px 10px;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-size: 15px;
    border-radius: 3px;
    background-image: url(https://uploads-ssl.webflow.com/5c0fc877855e628366fd4fdc/5c0fc95998cebb674b6e977b_twitters.svg);
    background-position: 89% 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
    transition: opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
    z-index: 500;
    transition: transform 200ms cubic-bezier(.68, -.55, .265, 1.55), opacity 200ms ease;
    transition: transform 200ms cubic-bezier(.68, -.55, .265, 1.55), opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
}

a.tweet:hover {
text-decoration: none;
color: white;
}

.border {
  border: 1px solid black;
}

.inline-block {
  display: inline-block;
}

.author h3.post-title-recent a {
  text-decoration: none;
  color: #44474d;
}
.author h3.post-title-recent a:hover {
  text-decoration: underline;
}
.align-middle {
  margin-top: auto;
  margin-bottom: auto;
}


.blue {
  background-color: blue;
}

::selection {
  background: #F6B041; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F6B041; /* Gecko Browsers */
}

.circle-image-article {
  display: inline-block;
}

.author {
  margin-bottom: 20px;
}
//PAGE STYLING

.page-header {
  &.photo-overlay {
    position: relative;
    margin-bottom: 2em;
    background-position: center;
    background-size: cover;
    height: 139px;

    .article-title-overlay {
      position: absolute;
      padding-bottom: .5em;
      color: $white;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;

      h1 {
        border-bottom: none;
      }
    }

    @media (min-width: $screen-md-min) {
      height: 262px;
    }

    @media (max-width: $screen-xs-max) {
      .entry-title {
        font-size: 2rem;
      }
    }
  }
}

.block-person {
  margin-bottom: 2em;

  .staff & > div {
    background: $steel;
    text-align: center;
  }

  .attachment-bio-headshot {
    transition: transform .3s;
  }

  .post-title {
    margin: 0;
    font-size: 20px;

    .staff & {
      color: $white;
      background: $plum-darkest;
      padding: .5em;
    }

    a {
      color: $ash;
      text-decoration: none;
    }
  }

  & > div:hover {
    .attachment-bio-headshot {
      transform: scale(1.05);
    }
  }

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.block-person-min-height {
  min-height: 120px;
}


@media only (max-width: 1200px) {
  .block-person-min-height {
    min-height: 120px;
  }
}

@media only (max-width: 1000px) {
  .block-person-min-height {
    min-height: 120px;
  }
}

.staff, .ncga {
  @media (max-width: $screen-xs-max) {
    .block-person:nth-child(2n + 1) {
      clear: left;
    }
  }

  @media (min-width: $screen-sm-min) {
    .block-person:nth-child(4n + 1) {
      clear: left;
    }
  }
}

.ncga {
  .block-person {
    img {
      width: 100%;
    }
  }
}

.contributors {
  .post-title {
    border-bottom: 1px solid transparent;
    transition: all .3s;
  }

  .block-person > div:hover {
    .post-title {
      border-bottom: 1px solid $heather;
    }
  }

  @media (max-width: $screen-xs-max) {
    .block-person {
      text-align: center;
    }

    .block-person:nth-child(2n + 1) {
      clear: left;
    }
  }

  @media (min-width: $screen-sm-min) {
    .block-person:nth-child(3n + 1) {
      clear: left;
    }
  }
}

.board-of-directors {
  table {
    max-width: 100%;

    td:first-child {
      max-width: 50%;
    }

    img {
      margin-right: 5px;
      max-width: 100px;

      @media (min-width: $screen-sm-min) {
        max-width: 200px;
      }
    }

    h3 {
      margin-top: 0;
    }
  }
}

.district-map {
  width: 100%;
}

.owl-stage-outer{
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}
.owl-stage {position: relative;}
.owl-stage .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-nav.disabled {display: none;}
